body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b1dffa !important;
}

#form_nova_receita{
    padding: 30px !important; 
}

#form_novo_gasto{
    padding: 30px !important; 
}

.cabecalho {
    text-shadow: #006097;
    padding-top: 40px;
}

#txt_cabecalho {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    padding-left: 70px;
}

.itm_cabec{
    display: inline;
    margin: 0 10px;
}

.tab-button-form{
    background-color: rgb(156, 34, 34);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 80px;
}

.add_values {
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 0px rgba(72, 128, 211, 0.2);
}

.tabs {
    margin: 20px 0;
    text-align: center;
}

.tab-content {
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 0px rgba(72, 128, 211, 0.2);
}

.tab-content.active {
    display: block;
}

.tabs {
    margin: 20px 0;
}


.tab-content-list {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 0px rgba(72, 128, 211, 0.2);
}

#receitas{
    background-color: rgb(222, 250, 220);
}

#gastos{
    background-color: rgb(252, 219, 219);
}

.add_values_btn {
    display: flex;
    flex-direction: column;  /* Faz com que os botões fiquem empilhados */
    align-items: flex-end;   /* Alinha os botões à direita */
}

.add_values_btn button {
    margin-bottom: 15px !important; /* Espaçamento entre os botões */
}